* {
  margin: 0;
  padding: 0;
  color: #dcdcdc;
  font-size: 1.2vw;
  outline: none;
  box-sizing: border-box;
  border: none;
}
button {
  background: transparent;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
main {
  padding: 4vw 3vw 2vw;
  background: #1f1f1f;
  min-height: 100vh;
  font-size: 1.2vw;
}
.loading-characters {
  margin-top: 60px;
}

@import "./mixins/mixins";
@import "./components/header";
@import "./components/characters";
@import "./components/pagination";
@import "./components/full-info";
@import "./components/filter";
@import "components/number-of-results";
